.git
.venv
venv
ucp-frontend
node_modules
**/node_modules
.env
*.env
*.sqlite3
*.db
*.log
__pycache__
**/__pycache__
*.pyc
media
backend_PPM/media
.vscode
.continue
.codex
.agents
Dockerfile
docker-compose.yml
*.crt
*.key
*.html
