venv/
*.pyc
__pycache__/
db.sqlite3
.env
.vscode/
# Node
node_modules/
**/node_modules/

backend_PPM/media/annex_documents/
backend_PPM/media/submission_models/
backend_PPM/media/tdr_st/
backend_PPM/media/technical_documents/

!**/annex_documents/.gitkeep
!**/submission_models/.gitkeep
!**/tdr_st/.gitkeep
!**/technical_documents/.gitkeep
