venv/
*.pyc
__pycache__/
db.sqlite3
.env
.vscode/
# Node
node_modules/
**/node_modules/

media/
!**/contrats/.gitkeep
!**/pv_documents/.gitkeep
!**/annex_documents/.gitkeep
!**/submission_models/.gitkeep
!**/tdr_st/.gitkeep
!**/technical_documents/.gitkeep

demandes/documents/
!**/demandes/documents/.gitkeep

tdr_st/
!**/tdr_st/.gitkeep

# Celery Beat
celerybeat-schedule*
**/celerybeat-schedule*
